<div class="container">
  <div style="padding: 20px">

    <input

      [(ngModel)]="searchValue"

      placeholder="SearchHere"

      type="search"

      class="form-control"
    />

  </div>
  <div class="row row-md-7" >
      <div *ngFor="let p of plrList | search : searchValue" class="card col-md-5 m-2">
          <div class="row">
              <div class="col-md-5">
                  <img style="height: 200px; width:200px" class="card-image" [src]=p.playerImg>
              </div>
              <div class="card-body col-md-2">
                  <h5 class="card-title">{{p.playerName}}</h5>
                  <p class="card-text">{{p.role}}</p>
                  <p class="card-text">{{p.playerSalary}}</p>
                  <p class="card-text">{{p.playerCountry}}</p>
                  <p class="card-text">{{p.jerseyNo}}</p>

                  <div class="row">
                      <p class="card-text">
                        <a
                        class="btn btn-info m-1"
                        routerLink="/Team/Edit/{{ p.playerId }}"
                      >Edit
                        <i class="fa fa-pencil fa-fw"></i>
                      </a>
                      <a
                        class="btn btn-danger m-1"
                        (click)="deleteTicketFromDatabase(p.playerId)"
                      >Delete
                        <i class="fa fa-trash fa-fw"></i>
                      </a>
                      <a
                      class="btn btn-info m-1"
                      routerLink="/Team/View/{{ p.playerId }}"
                    >View
                      <i class="fa fa-pencil fa-fw"></i>
                    </a>
                      
                      </p>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</div>
